html{
    background-image: url("../images/bakground.jpg");
    /* background-color: darkgray; */
    min-width: 560px;
}

body{
    margin: 0 auto;
    background-color: whitesmoke;
    font-size: 1rem;
    width: 70%;
    height: auto;
}

.container-fluid{
    padding: 0;
    border-radius: 0;
}

.inlamning_title, .saved_journal{
    text-align: center;
    font-size: 3rem;
}

.inlamning_title{
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;
}

.sub_title{
    text-align: center;
    font-size: 1.5rem;
}

.signin_form, .register_form, .jornal_form {    
    margin: 20px auto;
    width: 50%;
}

.signin_btn, .register_btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px auto;
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}

button, input[type='submit']{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

input{
    margin-top: 10px;
}

button a{
    color: white;
}

